.bootWrapper {
  position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
  background-color: #010103; z-index: 99999;
  display: flex; flex-direction: column; justify-content: center; align-items: flex-start;
  padding: 50px; font-family: monospace;
  animation: fadeOut 0.5s ease-out 2.2s forwards; /* Animation d l-khourouj */
}

@keyframes fadeOut { 
  0% { opacity: 1; visibility: visible; } 
  100% { opacity: 0; visibility: hidden; } 
}

.scanline {
  position: absolute; top: 0; left: 0; width: 100%; height: 5px;
  background: rgba(188, 19, 254, 0.3); opacity: 0.6;
  animation: scan 2s linear infinite; pointer-events: none; z-index: 2;
}

@keyframes scan { 
  0% { top: -10%; } 
  100% { top: 110%; } 
}

.terminal { position: relative; z-index: 10; max-width: 800px; }

.terminalLine {
  color: #00d2ff; font-size: 1.2rem; margin-bottom: 10px;
  text-shadow: 0 0 5px rgba(0, 210, 255, 0.5);
  animation: typeIn 0.1s ease-out forwards;
}

.sysPrompt { color: #bc13fe; font-weight: bold; margin-right: 10px; }

.cursor {
  display: inline-block; color: #00d2ff; font-size: 1.2rem;
  animation: blink 0.8s infinite;
}

@keyframes blink { 0%, 100% { opacity: 1; } 50% { opacity: 0; } }
@keyframes typeIn { 
  0% { opacity: 0; transform: translateX(-10px); } 
  100% { opacity: 1; transform: translateX(0); } 
}