.publicRoot {
  min-height: 100vh;
  background-color: #030305; /* K7el mghlo9 ktar mn dyal l-admin */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.mainContent {
  flex-grow: 1;
}

.footer {
  text-align: center;
  padding: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  color: #6a6a7a;
  font-size: 0.85rem;
  background: rgba(0, 0, 0, 0.5);
}